<div class="ta9-container ta9-toolbar">
  <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/filter.svg'"></ta9-icon-button>

  <ta9-search-box 
    [iconPosition]="'prefix'"
    [showIcon]="true"
  >
    <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/calendar.svg'"></ta9-icon-button>
  </ta9-search-box>

  <div class="ta9-toolbar-group">

    <div class="ta9-toolbar-group shrinked-toolbar">
      <ta9-dropdown-button 
        [svgIcon]="'../../../assets/images/svg/icons/kebab-menu.svg'"
        [listTitle]="collapsedButtons.category"
        [listItems]="listItems"
      ></ta9-dropdown-button>
    </div>

    <div class="ta9-toolbar-group expanded-toolbar">
    </div>
  </div>
  
  <div class="ta9-container">
    <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/clock1.svg'"></ta9-icon-button>
  </div>

  <div class="ta9-container">
    <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/sync.svg'"></ta9-icon-button>
  </div>

  <div class="ta9-container">
    <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/Group_2039.svg'"></ta9-icon-button>
  </div>

  <div class="ta9-container">
  <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/_x32_0.svg'"></ta9-icon-button>
  </div>  

  <div class="ta9-toolbar-group ta9-toolbar-extra">
    <ta9-search-box 
      [iconPosition]="'prefix'"
      [showIcon]="true"
    >
      <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/search.svg'"></ta9-icon-button>
    </ta9-search-box>

    <div class="ta9-container">
      <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/siren.svg'"></ta9-icon-button>
    </div>

    <div class="ta9-container">
      <ta9-icon-button [svgIcon]="'../../../assets/images/svg/icons/layers.svg'"></ta9-icon-button>
    </div>

    <ta9-dropdown-button [svgIcon]="saveTools.svgIcon"
      [customClass]="'ta9-icon-button-confirm'"
      [listTitle]="saveTools.listTitle"
      [listItems]="saveTools.listItems"
      [showArrowIcon]="false"
      [pivotRight]="!isRTL"
    ></ta9-dropdown-button>

  
  </div>
</div>
