@import '../../../assets/styles/main.scss';

.ta9-toolbar {
  padding: 10px 9.5px;
  width: 1852px;
  height: 50px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000012;
  opacity: 1;
}

.ta9-toolbar-extra {
  margin: 0 auto;
  margin-left: 0;
}

.ta9-toolbar-group {
  @extend .ta9-container;
  border: none;
  box-shadow: none;
}

.shrinked-toolbar {
  display: none;
  margin: 0;
}

.expanded-toolbar {
  margin: 0;
}

@media (max-width: 1000px) {
  .shrinked-toolbar {
    display: inherit;
  }
  .expanded-toolbar {
    display: none;
  }
}

@media (min-width: 1000px) {
  .ta9-toolbar {
    min-width: 1200px;
  }

  .shrinked-toolbar {
    display: none;
  }
  .expanded-toolbar {
    display: inherit;
  }
}