; begin auth token
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/registry/:username=ta-9
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/registry/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/:username=ta-9
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/:_password=BASE64_ENCODED_PERSONAL_ACCESS_TOKEN
//pkgs.dev.azure.com/ta-9/Argus/_packaging/ta9-npm/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
