.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: 280px;
  height: 38px;
  padding: 8px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000001D;
  border: 1px solid #E5E5E5;
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: normal 18px/23px Assistant;
}

.dropdown-icon {
  width: 20px; 
  height: 20px;
  fill: #333; 
}

.calendar-icon {
  width: 20px; 
  height: 20px;
  fill: #333; 
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 10px); 
  left: 0;
  width: 295px;
  height: 221px;
  background-color: transparent;
  box-shadow: 0px 0px 6px #0000001D;
  border: 1px solid #E5E5E5;
  opacity: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; 
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal 18px/23px Assistant;
  letter-spacing: 0px;
  color: #000000;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.selected-option {
  display: inline-block; 
  text-align: left;
  text-indent: 5px;
  width: 100%; 
}
