.ta9-button {
  @extend .ta9-button-custom, .p-105-125;

  &:active {
    background: $ta9-onhover-n-selected-state-color;
    color: $ta9-light-color;

    .ta9-icon {
      svg {
        path {
          fill: $ta9-light-color;
        }
      }
    }
  }
}

.ta9-button-custom {
  border: none;
  background-color: transparent;
}

.p-105-125 {
  padding: 0.6563rem 0.7813rem; // 10.5px 12.5px
}

.p-0 {
  padding: none !important;
}